# https://help.github.com/articles/ignoring-files

# Dependencies
node_modules
saved_models/
contracts/

# Production
ResCNN_triplet_training_checkpoint_265.h5
# Env
.env
src/env.json

# Editor
.vscode

# Misc.
.DS_Store
